<div class="row margin-h-5">
    <div class="titleHeader panel margin-v-5">
        <div class="panel-heading">
            <h1 ng-if="ctrl.tableGlobal===false"><span class="label label-default">{{ ctrl.typeDisplayTeam == true ? "EQUIPE" : "INDIVIDUELLE" }}</span> {{ctrl.board.name}}</h1>
            <h1 ng-if="ctrl.tableGlobal===true">Vue d'ensemble</h1>
            <div class="panel-ctrls button-icon-bg">
                <button ng-if="ctrl.tableGlobal===false" class="btn btn-default-alt btn-lg" ng-click="ctrl.changeView()"><i class="ti ti-package"></i> Aller sur la vue {{ ctrl.typeDisplayTeam == false ? "équipe" : "individuelle" }}</button>
                <button ng-if="ctrl.tableGlobal===false" class="btn btn-default-alt btn-lg" ng-click="ctrl.createTaskAction()"><i class="ti ti-plus"></i> Ajouter une quête</button>
                <button class="btn btn-default-alt btn-lg" ng-click="ctrl.openPanelFilterAction('#boxFilter')"><i class="ti ti-panel"></i> Filtre</button>
                <button ng-if="ctrl.tableGlobal===false || ctrl.isAdmin" class="btn btn-default-alt btn-lg" ui-sref="app.board-edit({ idBoard: ctrl.board.id })"><i class="ti ti-settings"></i> Paramètres</button>
                <button ng-if="ctrl.tableGlobal===false || ctrl.isAdmin" class="btn btn-default-alt btn-lg" ng-click="ctrl.deleteBoard()"><i class="ti ti-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-12 sliderPanelBox text-right" id="boxFilter">
        <div class="btn-group">
            <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-check-box"></i> Type : {{  ctrl.filter.type }}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-12" role="menu">
                <li><a ng-click="ctrl.filter.type = 'TOUT'">TOUT</a></li>
                <li><a ng-click="ctrl.filter.type = 'TODO'">TODO</a></li>
                <li><a ng-click="ctrl.filter.type = 'IN_PROGRESS'">IN PROGRESS</a></li>
                <li><a ng-click="ctrl.filter.type = 'DONE'">DONE</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-12 boxMatrice padding-h-0">
        <div class="row">
            <div class="col-md-6 panelMatrice">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h2>Urgent / Important</h2>
                        <div class="panel-ctrls button-icon-bg" ng-click="ctrl.zoomTask('URGENT_IMPORTANT')" ng-if="ctrl.tableGlobal===false">
                            <span class="button-icon has-bg"><i class="ti ti-fullscreen"></i></span>
                        </div>
                    </div>
                    <div class="panel-body scroll-pane">
                        <div class="row scroll-content boxElementTile" id="sortable1" data-task="URGENT_IMPORTANT">
                            <div class="col-md-4" ng-repeat="n in ctrl.listTask | filter:{task : {priority: 'URGENT_IMPORTANT' }}:true">
                                <div data-idtask="{{ n.id }}" class="info-tile tile-success tile-perso" ng-click="ctrl.editTaskAction(n)" ng-class="{'border-custom-{{n.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading"><span>{{ n.task.title }}</span></div>
                                    <div class="tile-footer">
                                        <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ n.user.lastName }}</span>
                                        <span class="strong">{{ n.task.dateBeginTask | date:'dd/MM/yyyy'  }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 panelMatrice">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h2>Urgent / Pas Important</h2>
                        <div class="panel-ctrls button-icon-bg" ng-click="ctrl.zoomTask('URGENT_NOT_IMPORTANT')" ng-if="ctrl.tableGlobal===false">
                            <span class="button-icon has-bg"><i class="ti ti-fullscreen"></i></span>
                        </div>
                    </div>
                    <div class="panel-body scroll-pane">
                        <div class="row scroll-content boxElementTile" id="sortable2" data-task="URGENT_NOT_IMPORTANT">
                            <div class="col-md-4" ng-repeat="n in ctrl.listTask | filter:{task : {priority: 'URGENT_NOT_IMPORTANT'}}:true">
                                <div data-idtask="{{ n.id }}" class="info-tile tile-success tile-perso" ng-click="ctrl.editTaskAction(n)" ng-class="{'border-custom-{{n.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading"><span>{{ n.task.title }}</span></div>
                                    <div class="tile-footer">
                                        <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ n.user.lastName }}</span>
                                        <span class="strong">{{ n.task.dateBeginTask | date:'dd/MM/yyyy'  }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 panelMatrice">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>Pas Urgent / Important</h2>
                        <div class="panel-ctrls button-icon-bg" ng-click="ctrl.zoomTask('NOT_URGENT_IMPORTANT')" ng-if="ctrl.tableGlobal===false">
                            <span class="button-icon has-bg"><i class="ti ti-fullscreen"></i></span>
                        </div>
                    </div>
                    <div class="panel-body scroll-pane">
                        <div class="row scroll-content boxElementTile" id="sortable3" data-task="NOT_URGENT_IMPORTANT">
                            <div class="col-md-4" ng-repeat="n in ctrl.listTask | filter:{task : {priority: 'NOT_URGENT_IMPORTANT'}}:true">
                                <div data-idtask="{{ n.id }}" class="info-tile tile-success tile-perso" ng-click="ctrl.editTaskAction(n)" ng-class="{'border-custom-{{n.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading"><span>{{ n.task.title }}</span></div>
                                    <div class="tile-footer">
                                        <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ n.user.lastName }}</span>
                                        <span class="strong">{{ n.task.dateBeginTask | date:'dd/MM/yyyy'  }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 panelMatrice">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2>Pas Urgent / Pas Important</h2>
                        <div class="panel-ctrls button-icon-bg" ng-click="ctrl.zoomTask('NOT_URGENT_NOT_IMPORTANT')" ng-if="ctrl.tableGlobal===false">
                            <span class="button-icon has-bg"><i class="ti ti-fullscreen"></i></span>
                        </div>
                    </div>
                    <div class="panel-body scroll-pane">
                        <div class="row scroll-content boxElementTile" id="sortable4" data-task="NOT_URGENT_NOT_IMPORTANT">
                            <div class="col-md-4" ng-repeat="n in ctrl.listTask | filter:{task : {priority: 'NOT_URGENT_NOT_IMPORTANT'}}:true">
                                <div data-idtask="{{ n.id }}" class="info-tile tile-success tile-perso" ng-click="ctrl.editTaskAction(n)" ng-class="{'border-custom-{{n.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading"><span>{{ n.task.title }}</span></div>
                                    <div class="tile-footer">
                                        <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ n.user.lastName }}</span>
                                        <span class="strong">{{ n.task.dateBeginTask | date:'dd/MM/yyyy'  }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 bigPanelMatrice" ng-show="ctrl.tableGlobal===false">
        <div class="panel panel-bluegray">
            <div class="panel-heading">
                <h2>Tableau Kanban</h2>
                <div class="panel-ctrls button-icon-bg" ng-click="ctrl.zoomTask('DEZOOM')">
                    <span class="button-icon has-bg"><i class="ti ti-arrow-left"></i></span>
                </div>
            </div>
            <div class="panel-body scroll-pane">
                <div class="scroll-content">
                    <div class="scroll-x-kanban">
                        <div class="contentKanban">
                            <div class="columnKanban" ng-show="(ctrl.listTask | filter:{task : {colonneKanban: null}}:true).length > 0">
                                <div class="header">
                                    <div class="panel panel-gray">
                                        <div class="panel-heading">
                                            <h2>Non assignée</h2>
                                        </div>
                                    </div>
                                </div>
                                <ul class="listTache" id="sortable_col_0" data-column="NO_ASSIGNE">
                                    <li ng-repeat="n in ctrl.listTask | filter:{task : {colonneKanban: null}}:true">
                                        <div data-idtask="{{ n.id }}" class="info-tile tile-success tile-perso" ng-click="ctrl.editTaskAction(n)" ng-class="{'border-custom-{{n.colorBoard}}' : ctrl.tableGlobal }">
                                            <div class="tile-heading"><span>{{ n.task.title }}</span></div>
                                            <div class="tile-footer">
                                                <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ n.user.lastName }}</span>
                                                <span class="strong">{{ n.task.dateBeginTask | date:'dd/MM/yyyy'  }}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="columnKanban" ng-repeat="colonne in ctrl.board.colonneKanbans">
                                <div class="header border-custom-{{ colonne.color }}">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-ctrls button-icon-bg">
                                                <color-picker ng-model="colonne.color" ng-change="ctrl.setColor(colonne);"></color-picker>
                                                <span class="button-icon has-bg" ng-click="ctrl.editColonneAction(colonne)">
                                                    <i class="ti ti-pencil"></i>
                                                </span>
                                                <span class="button-icon has-bg" ng-click="ctrl.deleteColonneModal(colonne.id)">
                                                    <i class="ti ti-trash"></i>
                                                </span>
                                            </div>
                                            <h2>{{ colonne.title }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <ul class="listTache" id="sortable_col_{{ colonne.id }}" data-column="{{ colonne.id }}">
                                    <li ng-repeat="n in ctrl.listTask | filter:{task : {colonneKanban: { id : colonne.id }}}:true">
                                        <div data-idtask="{{ n.id }}" class="info-tile tile-success tile-perso" ng-click="ctrl.editTaskAction(n)" ng-class="{'border-custom-{{n.colorBoard}}' : ctrl.tableGlobal }">
                                            <div class="tile-heading"><span>{{ n.task.title }}</span></div>
                                            <div class="tile-footer">
                                                <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ n.user.lastName }}</span>
                                                <span class="strong">{{ n.task.dateBeginTask | date:'dd/MM/yyyy'  }}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="columnKanban">
                                <div class="header">
                                    <div class="panel panel-deeporange">
                                        <div class="panel-heading" ng-click="ctrl.openPanelNewColonne=!ctrl.openPanelNewColonne">
                                            <h2>AJOUTER UNE COLONNE</h2>
                                            <div class="panel-ctrls button-icon-bg">
                                                <span class="button-icon has-bg"><i class="ti ti-plus"></i></span>
                                            </div>
                                        </div>
                                        <div class="panel-body" ng-show="ctrl.openPanelNewColonne">
                                            <form id="addTaskListForm" class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="taskColor" class="control-label">Liste des couleurs</label>
                                                    <color-picker ng-model="ctrl.newColonne.color"></color-picker>
                                                </div>
                                                <div class="form-group is-empty">
                                                    <div class="input-group">
                                                        <input class="form-control" ng-model="ctrl.newColonne.title" id="newTaskListInput" placeholder="Nom de la colonne" type="text">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-primary" ng-disabled="!ctrl.newColonne.title" ng-click="ctrl.saveNewColonne()" data-task="save-task-list">
                                                                <i class="ti ti-check"></i>
                                                            </button>
                                                        </span>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="ctrl.openPanelNewColonne=false">
                                                                <i class="ti ti-close"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editColonneKanban" tabindex="-1" role="dialog" aria-labelledby="titleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-confirmation">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="titleModal">Edition colonne</h5>
            </div>
            <div class="modal-body text-center clearfix">
                <input class="form-control" ng-model="ctrl.editColonne.title" placeholder="Nom de la colonne" type="text">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-top" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success btn-top" ng-click="ctrl.saveEditColonne()" data-dismiss="modal">Valider
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="titleModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div ng-include="'js/task/show/task-show.html'" ng-controller="TaskShowController as ctrl"></div>
        </div>
    </div>
</div>