<div class="container-fluid" ng-cloak>
    <h1>Créer une quête</h1>
    <form class="form-horizontal" ng-submit="ctrl.createTask()">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="taskTitle">Nom</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="taskTitle" placeholder="Nom" ng-model="ctrl.task.title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="taskContent">Description</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" id="taskContent"
                          ng-model="ctrl.task.content"
                          placeholder="Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="priorityTask">Priorité</label>
            <div class="col-sm-8">
                <select id="priorityTask" class="form-control" ng-model="ctrl.task.priority"
                        ng-options="idx as priority for (idx, priority) in ctrl.priority"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="taskDuration">Durée</label>
            <div class="col-sm-7">
                <input type="number" class="form-control" id="taskDuration"
                       ng-model="ctrl.task.duration"
                       placeholder="Durée"/>
            </div>
            <label class="col-sm-1"> points d'énergie</label>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
        </div>
    </form>
</div>