.android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
}

.android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.android-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}