<header id="topnav" class="navbar navbar-fixed-top navbar-midnightblue" role="banner">

    <div class="logo-area">
        <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
			<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
				<span class="icon-bg"><i class="ti ti-menu"></i></span>
        </a>
        </span>
        <a class="navbar-brand" ui-sref="app.dashboard">GameMaster</a>
    </div>

    <ul class="nav navbar-nav toolbar pull-right">
        <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
            <a class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></i></a>
        </li>
        <li class="toolbar-icon-bg">
            <mg-notification></mg-notification>
        </li>
        <li class="toolbar-icon-bg">
            <a ui-sref="app.signin"><span class="icon-bg"><i class="ti ti-power-off"></i></span></i></a>
        </li>
    </ul>

</header>

<div id="wrapper">
    <div id="layout-static">
        <div class="static-sidebar-wrapper sidebar-default sidebar-midnightblue">
            <div class="static-sidebar">
                <div class="sidebar">
                    <div class="widget stay-on-collapse" id="widget-sidebar">
                        <mg-menu></mg-menu>
                    </div>
                    <!--<div class="widget" id="widget-progress">
                        <div class="widget-heading">
                            Expérience
                        </div>
                        <div class="widget-body">
                            <div class="mini-progressbar">
                                <div class="clearfix mb-sm">
                                    <div class="pull-left">Niveau</div>
                                    <div class="pull-right">12</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-lime" style="width: 50%"></div>
                                </div>
                            </div>
                            <div class="mini-progressbar">
                                <div class="clearfix mb-sm">
                                    <div class="pull-left">Expérience</div>
                                    <div class="pull-right">1 300 / 3000</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" style="width: 25%"></div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="static-content-wrapper">
            <div class="static-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>