<header id="topnav" class="navbar navbar-fixed-top navbar-midnightblue" role="banner">

    <div class="logo-area">
        <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
			<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
				<span class="icon-bg"><i class="ti ti-menu"></i></span>
        </a>
        </span>
        <a class="navbar-brand" ui-sref="app.dashboard">GameMaster</a>
    </div>

    <ul class="nav navbar-nav toolbar pull-right">
        <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
            <a class="toggle-fullscreen" uib-tooltip="Plein écran" tooltip-placement="left"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></a>
        </li>
        <li class="toolbar-icon-bg" id="search-bar">
            <search-bar></search-bar>
        </li>
        <li class="toolbar-icon-bg">
            <a ui-sref="app.shop" uib-tooltip="Boutique" tooltip-placement="bottom"><span class="icon-bg"><i class="ti ti-shopping-cart"></i></span></a>
        </li>
        <li class="toolbar-icon-bg">
            <a ui-sref="app.inventory" uib-tooltip="Inventaire" tooltip-placement="bottom"><span class="icon-bg"><i class="ti ti-briefcase"></i></span></a>
        </li>
        <li class="toolbar-icon-bg">
            <mg-notification></mg-notification>
        </li>
        <li class="toolbar-icon-bg">
            <a ui-sref="app.signin" uib-tooltip="Déconnexion" tooltip-placement="bottom"><span class="icon-bg"><i class="ti ti-power-off"></i></span></a>
        </li>
    </ul>

</header>

<div id="wrapper">
    <div id="layout-static">
        <div class="static-sidebar-wrapper sidebar-default sidebar-midnightblue">
            <div class="static-sidebar">
                <div class="sidebar">
                    <div class="widget stay-on-collapse" id="widget-sidebar">
                        <mg-menu></mg-menu>
                    </div>
                    <div class="widget" id="widget-progress">
                        <mg-progress></mg-progress>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-content-wrapper">
            <div class="static-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>