<div class="col-md-12 titleHeader panel">
    <div class="panel-heading">
        <h1> Inventaire </h1>
        <div class="panel-ctrls button-icon-bg">
            <button class="btn btn-default-alt btn-lg" ng-click="ctrl.openPanelFilterAction('#boxFilter')"><i class="ti ti-panel"></i> Filtre</button>
        </div>
    </div>
</div>

<div class="col-md-12 sliderPanelBox text-right" id="boxFilter">
    <div class="btn-group">
        <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="ti ti-check-box"></i> Type : {{  ctrl.filter.type }}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu col-xs-12" role="menu">
            <li><a ng-click="ctrl.filter.type = 'TOUT'">TOUT</a></li>
            <li><a ng-click="ctrl.filter.type = 'WALLPAPER'">Fonds d'écran</a></li>
            <li><a ng-click="ctrl.filter.type = 'AVATAR'">Avatars</a></li>
            <li><a ng-click="ctrl.filter.type = 'SPELL'">Sorts</a></li>
            <li><a ng-click="ctrl.filter.type = 'CURSE'">Malédictions</a></li>
        </ul>
    </div>
</div>

<div class="col-md-12 boxMatrice">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body scroll-pane">
                <div class="row scroll-content">
                    <div class="col-md-2" ng-repeat="item in ctrl.filteredInventory">
                        <div class="info-tile tile-success tile-perso">
                            <div class="tile-heading">
                                <span>{{ item.name }}</span>
                                <div class="panel-ctrls button-icon-bg">
                                    <span class="button-icon" ng-click="ctrl.removeFromInventory(item)">
                                        <i class="ti ti-trash"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="tile-icon"><span><img src="{{item.image}}" height="100" width="100"/></span></div>
                            <div class="tile-body"><p class="tile-text" title="{{ item.description }}">{{ item.description }}</p></div>
                            <div class="tile-footer">
                                <span class="strong">UTILISER</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>