<div class="titleHeader panel">
    <div class="panel-heading">
        <h1> Créer une guilde </h1>
    </div>
</div>
<div class="row margin-t-20 margin-h-0">
    <div class="panel panel-default padding-t-20">
        <form class="form-horizontal" name="formCreateBoard" novalidate>
            <div class="form-group" ng-class="{'has-error': formCreateBoard.$submitted && formCreateBoard.nameBoard.$invalid}">
                <label for="board_name" class="col-sm-2 control-label">Nom de la guilde<span class="required">*</span> : </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="board_name" name="nameBoard" ng-model="ctrl.board.name" ng-required="true" />
                </div>

                <div class="palette col-sm-1">
                    <div class="panel-ctrls button-icon-bg">
                        <color-picker ng-model="ctrl.board.color"></color-picker>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Inviter des utilisateurs : </label>
                <div class="col-sm-7">
                    <users-input users="ctrl.board.users" with-current="false"></users-input>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': formCreateBoard.$submitted && formCreateBoard.argentBid.$invalid}">
                <label class="col-sm-6 control-label">Gain d'argent par enchère gagnée<span class="required">*</span> : </label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="board_moneyWinBid" name="argentBid" ng-model="ctrl.board.moneyWinBid" ng-required="true" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': formCreateBoard.$submitted && formCreateBoard.expBid.$invalid}">
                <label class="col-sm-6 control-label">Gain d'expérience par enchère gagnée<span class="required">*</span> : </label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="board_expWinBid" name="expBid" ng-model="ctrl.board.expWinBid" ng-required="true" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': formCreateBoard.$submitted && formCreateBoard.argentTask.$invalid}">
                <label class="col-sm-6 control-label">Gain d'argent par point d'énergie<span class="required">*</span> : </label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="board_moneyDoneTask" name="argentTask" ng-model="ctrl.board.moneyDoneTask" ng-required="true" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': formCreateBoard.$submitted && formCreateBoard.expTask.$invalid}">
                <label class="col-sm-6 control-label">Gain d'expérience par point d'énergie<span class="required">*</span> : </label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="board_expDoneTask" name="expTask" ng-model="ctrl.board.expDoneTask" ng-required="true" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="formCreateBoard.$valid && ctrl.createBoard()">Créer</button>
                </div>
            </div>

        </form>
    </div>
</div>