<nav role="navigation" class="widget-body">

    <ul class="acc-menu">
        <li class="nav-separator"><span>Tableau</span></li>
        <li><a href="javascript:;"><i class="ti ti-layout"></i><span>Tableau 1</span><span class="badge badge-teal">2</span></a>
            <ul class="acc-menu">
                <li><a href="layout-grids.html">Visualiser</a></li>
                <li><a href="layout-static-leftbar.html">Enchères<span class="badge badge-teal">2</span></a></li>
            </ul>
        </li>
        <li><a href="javascript:;"><i class="ti ti-file"></i><span>Tableau 2 </span></a>
            <ul class="acc-menu">
                <li><a href="extras-profile.html">Visualiser</a></li>
                <li><a href="javascript:;">Sous-Tableau</a>
                    <ul class="acc-menu">
                        <li><a href="responsive-email/basic.html">1</a></li>
                        <li><a href="responsive-email/hero.html">2</a></li>
                        <li><a href="responsive-email/sidebar.html">3</a></li>
                        <li><a href="responsive-email/sidebar-hero.html">3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>