@import "variable.less";

body{
    background-color: @background_color !important;

    .line-separator{
        height: 1px;
        margin: 5px 20px;
        border-bottom: 1px solid #455a64;
    }
}
