<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 titleHeader panel">
                <div class="panel-heading">
                    <h1><span class="label label-default">Bonjour {{ctrl.user.firstName}}</span></h1>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 boxMatrice">
        <div class="row">
            <div class="col-md-3">
                <div class="info-tile tile-success" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="tile-icon"><i class="ti ti-bar-chart"></i></div>
                    <div class="tile-heading"><span>Les tâches en enchère</span></div>
                    <div class="tile-body"><span>{{ctrl.stats.nbrTaskBid}}</span></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-tile tile-success" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="tile-icon"><i class="ti ti-bar-chart"></i></div>
                    <div class="tile-heading"><span>nombre de tâches créées</span></div>
                    <div class="tile-body"><span>{{ctrl.stats.nbrTaskCreated}}</span></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-tile tile-info" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="tile-icon"><i class="ti ti-stats-up"></i></div>
                    <div class="tile-heading"><span>nombre de tâches terminées</span></div>
                    <div class="tile-body"><span>{{ctrl.stats.nbrTaskDone}}</span></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-tile tile-danger" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="tile-icon"><i class="ti ti-bar-chart-alt"></i></div>
                    <div class="tile-heading"><span>nombre de guildes créées</span></div>
                    <div class="tile-body"><span>{{ctrl.stats.nbrBoardCreated}}</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 panelMatrice">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Mon profil</h2>
                        <div class="panel-ctrls button-icon-bg">
                            <a ng-click="ctrl.enableEditor()"> <button class="btn btn-default-alt btn-lg"><i class="ti ti-pencil"></i></button></a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div ng-hide="ctrl.editorEnabled" class="col-md-12">
                                <img ng-srcset="{{ctrl.user.avatar}}" alt="avatar" />
                                <table>
                                    <tr>
                                        <th> Nom :</th>
                                        <th>{{ctrl.user.lastName}}</th>
                                    </tr>
                                    <tr>
                                        <th> Prénom :</th>
                                        <th>{{ctrl.user.firstName}}</th>
                                    </tr>
                                    <tr>
                                        <th> E-mail :</th>
                                        <th>{{ctrl.user.email}}</th>
                                    </tr>
                                    <tr>
                                        <th> Date d'inscription :</th>
                                        <th>{{ctrl.user.dateCreation | date:'dd/MM/yyyy'}}</th>
                                    </tr>
                                </table>
                            </div>

                            <div ng-show="ctrl.editorEnabled" class="col-md-12">
                                <img ng-srcset="{{ctrl.user.avatar}}" alt="avatar" />

                                <form name="formEditor" ng-submit="ctrl.editUserAction()" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="lastName" class="col-md-4 control-label">Nom :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="lastName" ng-model="ctrl.user.lastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName" class="col-md-4 control-label">Prénom : </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="firstName" ng-model="ctrl.user.firstName">
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" ng-disabled="ctrl.$invalid" class="btn btn-primary">Valider</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 panelMatrice">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Mes Tâches</h2>
                    </div>
                    <div class="panel-body scroll-pane">
                        <div class="row scroll-content">
                            <div class="col-md-12" ng-repeat="n in ctrl.listTask">
                                <div class="info-tile tile-success tile-perso" ng-click="ctrl.taskAction(n)" ng-class="{'border-custom-{{n.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading"><span>{{ n.task.title }}</span></div>
                                    <div class="tile-footer">
                                        <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ n.user.lastName }}</span>
                                        <span class="strong">{{ n.task.dateBeginTask | date:'dd/MM/yyyy'  }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 panelMatrice">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Les tâches en enchére</h2>
                    </div>
                     <div class="panel-body scroll-pane">
                        <div class="row scroll-content">
                            <div class="col-md-12" ng-repeat="n in ctrl.listTaskBid">
                                <div class="info-tile tile-success tile-perso" ng-click="ctrl.taskActionBid(n)" ng-class="{'border-custom-{{n.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading"><span>{{ n.title }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-teal">
                    <div class="panel-heading">
                        <h2>Classement</h2>
                    </div>
                    <div class="panel-body no-padding heightAuto">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Votre classement par niveau</td>
                                    <td class="text-right">{{ctrl.rankin.rankLevel}}/{{ctrl.rankin.nbrUsers}}</td>
                                </tr>
                                <tr>
                                    <td>Votre classement par argent</td>
                                    <td class="text-right">{{ctrl.rankin.rankMoney}}/{{ctrl.rankin.nbrUsers}}</td>
                                </tr>
                                <tr>
                                    <td>Votre classement par expérience</td>
                                    <td class="text-right">{{ctrl.rankin.rankExperience}}/{{ctrl.rankin.nbrUsers}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 panelMatrice">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Top 10 du classement par argent</h2>
                    </div>
                    <div class="panel-body scroll-pane">
                        <div class="row scroll-content">
                            <div class="col-md-12" ng-repeat="i in ctrl.listUsers.top10Money">
                                <div class="info-tile tile-success tile-perso" ng-click="ctrl.userAction(i)" ng-class="{'border-custom-{{u.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading" ><span>{{ i.firstName }}</span></div>
                                    <div class="tile-footer">
                                        <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ u.user.lastName }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 panelMatrice">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Top 10 du classement par niveau</h2>
                    </div>
                    <div class="panel-body scroll-pane">
                        <div class="row scroll-content">
                             <div class="col-md-12" ng-repeat="i in ctrl.listUsers.top10Level">
                                <div class="info-tile tile-success tile-perso" ng-click="ctrl.userAction(i)" ng-class="{'border-custom-{{u.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading" ><span>{{ i.firstName }}</span></div>
                                    <div class="tile-footer">
                                        <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ u.user.lastName }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 panelMatrice">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Top 10 du classement par expérience</h2>
                    </div>
                    <div class="panel-body scroll-pane">
                        <div class="row scroll-content">
                             <div class="col-md-12" ng-repeat="i in ctrl.listUsers.top10Experience">
                                <div class="info-tile tile-success tile-perso" ng-click="ctrl.userAction(i)" ng-class="{'border-custom-{{u.colorBoard}}' : ctrl.tableGlobal }">
                                    <div class="tile-heading" ><span>{{ i.firstName }}</span></div>
                                    <div class="tile-footer">
                                        <span class="pull-left strong" ng-show=" ctrl.typeDisplayTeam == true">{{ u.user.lastName }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>