<div class="col-md-6 col-md-offset-3">
    <h2>Se connecter</h2>
    <form name="formLogin" ng-submit="loginCtrl.loginAction()" role="formLogin">
        <div class="form-group" ng-class="{ 'has-error': formLogin.nom.$dirty && formLogin.nom.$error.required }">
            <label for="nom">Adresse mail :</label>
            <input type="text" name="nom" id="nom" class="form-control" ng-model="loginCtrl.credentials.email" ng-required="true" />
            <span ng-show="formLogin.nom.$dirty && formLogin.nom.$error.required" class="help-block">Champs obligatoire</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': formLogin.mdp.$dirty && formLogin.mdp.$error.required }">
            <label for="mdp">Mot de passe : </label>
            <input type="password" name="mdp" id="mdp" class="form-control" ng-model="loginCtrl.credentials.password" ng-required="true" />
            <span ng-show="formLogin.mdp.$dirty && formLogin.mdp.$error.required" class="help-block">Champs obligatoire</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="formLogin.$invalid" class="btn btn-primary">Connexion</button>
            <a class="android-mobile-title mdl-layout-title" ui-sref='appSimple.signup'>S'inscrire</a>
        </div>
    </form>
</div>