<div class="toolbar-icon-bg component">
    <a ng-click="vm.readAllNotif()" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span ng-show="(vm.listNotification | filter:{isRead:false}:true).length > 0" class="badge badge-deeporange">{{ (vm.listNotification | filter:{isRead:false}:true).length }}</span></a>
    <div class="dropdown-menu notifications arrow">
        <div class="topnav-dropdown-header">
            <span>Notifications</span>
        </div>
        <div class="scroll-pane">
            <ul class="media-list scroll-content">
                <li class="media" ng-repeat="notif in vm.listNotifications | orderBy: '-dateCreation' | limitTo: 10">
                    <div class="notification-{{notif.type}} read-{{notif.isRead }}">
                        <a href="#">
                            <div class="media-left">
                                <span class="notification-icon"><i class="ti ti-check"></i></span>
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading">{{ notif.title }}</h4>
                                <span class="notification-time">{{ notif.dateCreation | date:'dd/MM/yyyy' }}</span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="topnav-dropdown-footer">
            <a ui-sref="app.notification">Voir toutes les notifications</a>
        </div>
    </div>
</div>