<div class="toolbar-icon-bg component">
    <a class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
    <div class="dropdown-menu notifications arrow">
        <div class="topnav-dropdown-header">
            <span>Notifications</span>
        </div>
        <div class="scroll-pane">
            <ul class="media-list scroll-content">
                <li class="media notification-success">
                    <a href="#">
                        <div class="media-left">
                            <span class="notification-icon"><i class="ti ti-check"></i></span>
                        </div>
                        <div class="media-body">
                            <h4 class="notification-heading">Update 1.0.4 successfully pushed</h4>
                            <span class="notification-time">8 mins ago</span>
                        </div>
                    </a>
                </li>
                <li class="media notification-info">
                    <a href="#">
                        <div class="media-left">
                            <span class="notification-icon"><i class="ti ti-check"></i></span>
                        </div>
                        <div class="media-body">
                            <h4 class="notification-heading">Update 1.0.3 successfully pushed</h4>
                            <span class="notification-time">24 mins ago</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="topnav-dropdown-footer">
            <a ui-sref="app.notification">Voir toutes les notifications</a>
        </div>
    </div>
</div>